/* General setup  */

:root {
  /* Fonts  */
  --font-primary: "Source Sans 3", sans-serif;
  /* Font sizes  */
  --font-size-small: 0.875rem;
  --font-size-body: 1rem;
  /* Spacing */
  --spacing-xs: 10px;
  --spacing-s: 16px;
  /* Colors  */
  --color-dark: hsl(300, 2%, 12%);
  --color-mid: hsl(300, 2%, 72%);
  --color-light: hsl(300, 2%, 99%);
  --color-highlight: hsl(300, 37%, 81%);
  /* Radius  */
  --radius-circle: 50%;
  /* Timing  */
  --transition-short: all 0.2s;
}

body {
  font-family: var(--font-primary);
  color: var(--color-dark);
  margin: 0;
  background: var(--color-light);
  font-size: 16px;
}

/* Resets  */

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Utility classes */

.flex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-flow: column;
}

.flex-space-between {
  justify-content: space-between;
}

.bold {
  font-weight: 900;
}

/* Layout  */

header {
  padding: var(--spacing-s);
  border-bottom: 1px solid var(--color-mid);
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.post-info__container,
.post-message__container {
  padding: var(--spacing-s);
  justify-content: start;
  gap: var(--spacing-s);
}

.post-message__icons-list {
  gap: var(--spacing-s);
}

/* Images & icons */

img {
  display: block;
}

.avatar-img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: var(--radius-circle);
}

.post-img {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

.post-icon {
  height: 22px;
  width: 22px;
}

/* Links  */

a {
  transition: var(--transition-short);
}

/* Buttons  */

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: var(--transition-short);
}

.post-icon-btn {
  padding: var(--spacing-xs);
  background: var(--color-mid);
}

.post-icon-btn:hover,
.post-icon-btn:focus {
  background: var(--color-highlight);
}

/* Typography  */

.post-info__name {
  font-size: var(--font-size-body);
}
