/* General setup  */

:root {
  /* Fonts  */
  --font-primary: "Source Sans 3", sans-serif;
  /* Font sizes  */
  --font-size-small: 0.875rem;
  --font-size-body: 1rem;
  /* Spacing */
  --spacing-xs: 10px;
  --spacing-s: 16px;
  --spacing-m: 50px;
  /* Colors  */
  --color-dark: hsl(300, 2%, 12%);
  --color-mid: hsl(300, 2%, 72%);
  --color-light: hsl(300, 2%, 99%);
  --color-highlight: hsl(300, 37%, 81%);
  --color-border: hsl(300, 12%, 82%);
  /* Radius  */
  --radius-circle: 50%;
  --radius-soft: 5px;
  /* Timing  */
  --transition-short: all 0.2s;
}

body {
  font-family: var(--font-primary);
  color: var(--color-dark);
  margin: 0;
  background: var(--color-light);
  font-size: 18px;
}

/* Resets  */

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Utility classes */

.flex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-flow: column;
}

.flex-space-between {
  justify-content: space-between;
}

.bold {
  font-weight: 900;
}

/* Layout  */

header {
  padding: var(--spacing-s);
  border-bottom: 1px solid var(--color-mid);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.container--nav {
  padding: 0 var(--spacing-s);
}

.posts__container {
  flex-wrap: wrap;
  gap: var(--spacing-m);
  padding: var(--spacing-xs);
  padding-bottom: var(--spacing-m);
}

.post {
  width: 400px;
  flex-grow: 1;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-soft);
  box-shadow: 0 2px 10px var(--color-light);
  background: var(--color-light);
}

.post-info__container,
.post-message__container {
  padding: var(--spacing-s);
  justify-content: start;
  gap: var(--spacing-s);
}

.post-message__container {
  padding: var(--spacing-xs);
}

.post-message__icons-list {
  padding: 0 var(--spacing-xs);
}

.post-message__info {
  padding: var(--spacing-s);
}

/* Images & icons */

img {
  display: block;
}

.avatar-img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: var(--radius-circle);
}

.post-img {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

.post-icon {
  height: 22px;
  width: 22px;
}

/* Links  */

a {
  transition: var(--transition-short);
}

/* Buttons  */

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: var(--transition-short);
}

.post-icon-btn {
  padding: var(--spacing-xs);
  border-radius: var(--radius-soft);
}

.post-icon-btn:hover,
.post-icon-btn:focus {
  background: var(--color-highlight);
}

/* Typography  */

.title {
  font-size: 2rem;
  padding: var(--spacing-s) var(--spacing-xs);
  padding-top: var(--spacing-m);
  opacity: 0.9;
}

.post-info__name {
  font-size: var(--font-size-body);
}

@media only screen and (max-width: 1000px) {
  .container--nav {
    padding: 0;
  }
}
